<% include partials/header %>
<div id= "container">
	<span>Search</span> 
	<h2> movie by location</h2>
	<hr>
	<form action= "/results" method= "GET">
		<input type= "text" name= "search" placeholder= "search Here"><br>
		<button>Search</button>
	</form>
</div>
<% include partials/footer %>
